img {
  max-width: 100%;
  height: auto;
}
body{
  font-family: "Karla",sans-serif;
}
/* Navigation Section Start */
.container-fluid {
  padding: 1% 5% 0.5% 5%;
}
#nav-section {
  font-weight: bold;
}
.nav-item {
  padding: 5px;
}
.navbar-nav{
  text-align: center;
}
.active {
  border: 1px solid;
}
.active:hover{
  background-color: hsl(270, 9%, 17%);
  color: white !important;
}

/* Banner Section Banner */
#banner{
  background-color: hsl(256, 26%, 20%);
  position: relative;
  color: #fff;
  padding: 10px;
}
#banner hr {
  float: left;
  border: 1px  solid #fff;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  width: 20%;
}

.banner{
position: relative;
top: 20%;
}
.pattern-left{
  position: absolute;
  left: 0;
  bottom: -300px;
}
.pattern-right{
  position: absolute;
  right: 0;
  top: 0;
}
.banner-text h1 {
   font-family: 'DM Serif Display', serif;
   font-size: 3.5rem;
   line-height: 1;
   clear: both;
}
.banner-text p {
 line-height: 1.5;

}
.banner-img{
  margin: auto;
  display: block;
  position: relative;
  top: 170px;
}

.row {margin: 0 !important;}
