/* ====================Variables===================== */
:root{
  --primary-dark-violet:  hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);
  --neutral-dark-violet:  hsl(270, 9%, 17%);
  --neutral-grayish-violet: hsl(273, 4%, 51%);
  --neutral-light-gray: hsl(0, 0%, 98%);
}

/* =================Global Styles================= */
body {
  font-family: "Karla", sans-serif;
}
.container-fluid {
  padding: 1% 5% 0.5% 5%;
}

/*=================Navigation Section Start=============== */
#nav-section {
  font-weight: bold;
}
.nav-item {
  padding: 5px;
}
.navbar-nav {
  text-align: center;
}
.active {
  border: 1px solid;
}
.active:hover {
  background-color: var(--neutral-dark-violet);
  color: var(--neutral-light-gray) !important;
}

/* ===============Intro Section Banner======================= */
#intro {
  background-color: var(--primary-dark-violet);
  position: relative;
  color: var(--neutral-light-gray);
  padding: 10px;
}

#intro hr {
  float: left;
  border-top: 1.5px solid var(--neutral-light-gray);
  width: 20%;
}
.pattern-left {
  position: absolute;
  left: 0;
  width: 5%;
}
.pattern-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 25%;
}
.intro {
  margin-top: 15%;
}
.intro-heading {
  font-family: 'DM Serif Display', serif;
  font-size: 5rem;
  line-height: 1;
  clear: both;

}
.intro-text {
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 30px;
  padding-right: 150px;
}
.intro-img {
    display: block;
    margin-top: 10%;
}
.intro-btn {
  border: 1px solid;
  color: var(--neutral-light-gray);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.intro-btn:hover {
  background-color: var(--neutral-light-gray);
  color: hsl(270, 9%, 17%);
  text-decoration: none;
}
/* =================Media Queries================= */

@media (min-width:576px) and (max-width:767px) {
.intro{
  text-align: center;
}
.intro-text{
  padding-right: 0px;
}
.intro-img{
  margin: auto;
  padding: 10%;
}



}


@media (max-width:992px) {
.intro-text{
  padding-right: 50px;
}
.intro-heading{
  font-size: 3rem;
}
.intro {
  margin-top: 5%;
}


}
